# --- Core Bot ---
# Основной фреймворк бота, как и в вашем текущем проекте
aiogram~=3.22.0
# валидация данных
pydantic
pydantic_settings


# --- База данных (SQLite) ---
# Асинхронный драйвер для нашей основной БД (игроки, подземелья)
aiosqlite
# ORM для SQLAlchemy
sqlalchemy

# --- Хранилище состояний (Redis) ---
# Асинхронный драйвер для Redis.
# Aiogram будет использовать его для FSM (хранения состояний игрока)
redis

# --- LLM Провайдеры ---
# Клиент для API Google (Gemini)
google-genai

# --- Конфигурация и Логи ---
# Для загрузки токенов из .env файла
python-dotenv
# Для красивых логов в консоли, как у вас сейчас

loguru
