# --- Production Зависимости ---
# Включаем все, что нужно для запуска
-r requirements.txt

pre-commit

# --- Линтинг и Форматирование ---
# (Как вы и просили) Линтер и форматтер, как в pyproject.toml
ruff==0.14.6

# --- Проверка типов ---
# (Как вы и просили) Статический анализатор типов
mypy

# --- Тестирование ---
# (Как вы и просили) "Питестер"
pytest

pandas

streamlit

# --- Плагин для Pytest ---
# КРАЙНЕ ВАЖНО:
# Так как aiogram и aiosqlite асинхронные,
# pytest-у нужен этот плагин для запуска async-тестов
pytest-asyncio