# --- Production Зависимости ---
-r requirements.txt

# --- Git Hooks ---
pre-commit

# --- Линтинг и Форматирование ---
ruff==0.14.6

# --- Проверка типов ---
mypy

# --- Тестирование ---
pytest~=8.4.2
# Плагин для асинхронных тестов
pytest-asyncio
